[submodule "firmware/deps/ev3dev-lang-cpp"]
	path = firmware/deps/ev3dev-lang-cpp
	url = https://github.com/ddemidov/ev3dev-lang-cpp
[submodule "firmware/deps/mongoose"]
	path = firmware/deps/mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "firmware/deps/opencv"]
	path = firmware/deps/opencv
	url = https://github.com/opencv/opencv.git
[submodule "firmware/deps/unqlite"]
	path = firmware/deps/unqlite
	url = https://github.com/symisc/unqlite.git
[submodule "firmware/deps/json"]
	path = firmware/deps/json
	url = https://github.com/nlohmann/json.git
